.cell-yes {
    color: green;
}

.cell-no {
    color: red;
    font-weight: bold;
}

.search-count {
    color: purple;
    font-weight: bold;
}

.cell-offence-type {
    text-transform: capitalize;
}